/*html {
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
}*/

header {
    height: 10%;
    margin-top: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    position:fixed;
    background: #EDA12E;
}

body {
    width: 100%;
    height: 100%;
    margin-top: 19%;
    right: 0px;
    left: 0px;
    margin-bottom:20%;
    /*position: absolute;*/
    background-color: #fff5bc;
    text-align: center;
}

#titleImg{
    margin-top: 2%;
}

.searchEvent{
    width: 100%;
    border-radius: 10px;
    background-color: #EDA12E;
}

#textSearch {
    width: 70%;
    height: 15%;
    display: inline-block;
    text-align: center;
    padding: .9em 1.8em;

}

#add, #create, #update {
    width: 100%;
    height: 100%;
    background: #EDA12E;
    position: bottom;
    border: none;
    color: white;
}

footer {
    background: #EDA12E;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 8%;
    margin-bottom: 0px;
    text-align: center;
    position:fixed;
}




