/*html {
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
}*/

header {

    height: 4em;
    margin-top: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    position:fixed;
    background: #EDA12E;
}

body {
    width: 90%;
    height: 90%;
    margin-top: 19%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    background-color: #ffffee;
    text-align: center;
}

#titleImg{
    margin-top: 2%;
}

.searchEvent{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    background-color: #fff5bc;
}

.listEvent{
    margin-top: 5%;
    margin-bottom: 20%;

}

#recherche{
    color: #EDA12E;
}

#textSearch {
    width: 70%;
    height: 15%;
    border-radius: 5px;
    text-align: center;

}

.categorie{
    margin-top: 2%;
}

#add, #create, #update {
    width: 100%;
    height: 100%;
    background: #EDA12E;
    position: bottom;
    border: none;
    color: white;
}

#search{
    margin-top: 3%;
    margin-bottom: 2%;
}

footer {
    background: #EDA12E;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-top: 2px;
    height: 3em;
    margin-bottom: 0px;
    text-align: center;
    position:fixed;
}




